<h1><center> BizzAppDev Systems Pvt. Ltd.</center></h1>

# 2. Provide a program to read the CSV file.
• CSV file has three columns, the first column names, the second column is birthdate(YYYYMM-
DD) the third column is salary.<br>
• Read the file and display the data and age in the terminal.<br>
• The file path, delimiter, and quote char are the input by the user.<br>
• The program has to work from the terminal. The input and output have been taken/displayed
on the terminal.

In [24]:
import csv
import datetime
from datetime import date
import pandas as pd

In [25]:
def create():
    with open('data.csv', "w", newline='') as obj: 
        fobj = csv.writer(obj,quotechar="'",delimiter = ',')
        fobj.writerow(['Name','Birthdate','Salary'])
        while True:
            Name = input("Enter names : ")
            Birthday=input("What is your B'day? (in YYYY-MM-DD)")
            Birthdate=datetime.datetime.strptime(Birthday, "%Y-%m-%d")
            Salary = int(input(" Enter salary : "))
            record = [Name, Birthdate.strftime("%Y-%m-%d"), Salary]
            fobj.writerow(record)
            ch = int(input("1 = enter more\n 2 = exit \n enter your choice : "))
            if ch == 2:
                break
def dis():
    with open ('data.csv', 'r') as obj:
        fobj = csv.reader(obj, quotechar="'",delimiter = ',')
        for i in fobj:
            print(i)
            
create()
dis()

Enter names : Arati Shinde
What is your B'day? (in YYYY-MM-DD)1996-07-20
 Enter salary : 84000
1 = enter more
 2 = exit
 enter your choice : 1
Enter names : Shubham Koli
What is your B'day? (in YYYY-MM-DD)1995-08-23
 Enter salary : 80000
1 = enter more
 2 = exit
 enter your choice : 1
Enter names : Surbhi Devaraj
What is your B'day? (in YYYY-MM-DD)1996-01-17
 Enter salary : 40000
1 = enter more
 2 = exit
 enter your choice : 2
['Name', 'Birthdate', 'Salary']
['Arati Shinde', '1996-07-20', '84000']
['Shubham Koli', '1995-08-23', '80000']
['Surbhi Devaraj', '1996-01-17', '40000']

In [26]:
df = pd.read_csv('data.csv')
df

             Name   Birthdate  Salary
0    Arati Shinde  1996-07-20   84000
1    Shubham Koli  1995-08-23   80000
2  Surbhi Devaraj  1996-01-17   40000

In [27]:
from datetime import datetime

In [28]:
def calculate_age(born):
    born = datetime.strptime(born, "%Y-%m-%d")
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df['age'] = df['Birthdate'].apply(calculate_age)
print(df)

             Name   Birthdate  Salary  age
0    Arati Shinde  1996-07-20   84000   26
1    Shubham Koli  1995-08-23   80000   27
2  Surbhi Devaraj  1996-01-17   40000   26